$theme-colors: (
  "primary": #2cccbc,
  "secondary": #abe798,
);

@import "~bootstrap/scss/bootstrap";
/* width */
::-webkit-scrollbar {
  width: 10px;
}
// scroller
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #13dcc8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #03ffe6;
}
.dropdown-toggle {
  margin-top: -15px;
}

body {
  // background: url("public/1390893.jpg");
  // background: url("public/1390893.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  background: rgba(0, 0, 0, 0.8);
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma;
  max-width: 100vw;
  // max-height: 100vh;
  // overflow: scroll;
  color: white;
  // height: 150vh;
}

// .form-control {
//   border: 0px;
// }

// .list-group-item {
// background-color: red;

// #goal-border {
//   // border: 1px solid rgba(255, 255, 255, 0.2);
//   // width: 250px;
//   // display: flex;
//   // flex-direction: row;
//   // color: white;
// }

// *,
// *::before,
// *::after {
//   box-sizing: disabled;
// }

// #page-display {
// }

#slogan {
  margin-left: 135px;
  margin-top: -24px;
  font-size: 11px;
  font-stretch: inherit;
}

// #toggle-signup-signin {
//   display: flex;
//   justify-content: center;
// }

// #show-signin-form-button {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// #show-signup-form-button {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

#authorization {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 175px;
}

#brand-and-slogan {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
// #authorization {
//   display: flex;
//   justify-content: center;
// }

.navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  display: flex;
  // justify-content: center;
  padding: 0px;
}

.navbar-brand {
  font-size: 50px;
  // margin-top: -25px;
}

#navbarSupportedContent {
  display: flex;
  align-items: center;
}

#navbarDropdown {
  padding: 0px;
}

// #navbar-right-side {
//   margin-top: 200px;
// }

.my-lg-0 {
  display: flex;
  align-items: flex-end;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  margin-left: 85vw;
  margin-top: -27px;
}

#message {
  font-size: 60px;
  /* fixed position a zero-height full width container */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  top: 40%;
  left: 45%;
  // margin-top: -100px; /* Negative half of height. */
  // margin-left: -250px; /* Negative half of width. */
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
}

// #message {
//   font-size: 40px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-content: center;
//   margin: auto;
// }

#change-password-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: -110px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: flex-start;
}

#goals {
  display: flex;
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  // display: flex;
  // justify-content: center;
}

// .list-group {

// }

.list-group-item {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.2);
}

.border {
  color: rgba(255, 255, 255, 0.2);
}
// .list-group-item-action {
//   // color: white;
//   // background: transparent;
//   border-color: rgba(255, 255, 255, 0.2);
// }

#goal-stuff {
  // max-width: 250px;
  // margin-top: 115px;
  padding-left: 2px;
  padding-top: 0px;
  position: fixed;
  // display: flex;
  // flex-direction: column;
  // align-items:
  // height: 55vh;
  margin-top: 96px;
  // margin-bottom: 5px;
}

#goals.border.list-group {
  height: 70vh;
}

// #show-steps {
//   // color: white;
//   margin-left: 50px;
// }

.create-steps {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 100%;
  left: 60%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -220px; /* Negative half of width. */
}

#page-display {
  // position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

form {
  width: 250px;
}

#show-goal {
  margin-left: -20px;
}

#see-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  width: 100vw;
  margin-left: 326px;
  margin-top: 150px;
}

#see-more-goal-name {
  display: flex;
  padding-left: 80px;
  font-family: helvetica;
  font-size: 30px;
  letter-spacing: 5px;
  // justify-content: center;
}

// #my-goals {
//   display: flex;
//   justify-content: center;
//   font-size: 15px;
// }

// #forms {
//   position: absolute;
//   margin-left: 150px;
// }
// form {
//   width: 200px;
// }
#create-goal-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#create-goal-form.border {
  background: rgba(0, 0, 0, 0.6);
}

#signed-in-auth {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#empty-goals {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

// button {
//   max-width: 230px;
// }

// #buttons {
//   padding-left: 20px;
//   display: flex;
//   flex-direction: column;
// }

// p {
//   margin: 0;
// }

.form-control {
  margin: 0;
  // padding:0;
}
.col-6 {
  padding: 0;
}

// .goals {
//   // color: red;
// }

#steps-list {
  margin-left: 15px;
}
#signed-in-as {
  margin: 0px;
  margin-right: 10px;
}

// #checkbox {
//   display: flex;
//   margin-left: 200px;
//   margin-bottom: 5px;
// }

// .border {
//   border-radius: 50px;
//   padding: 25px;
//   margin: 25px;
// }

// #banner {
//   color: #ffec64;
// }

// .button {
//   box-shadow: inset 0px 1px 0px 0px #ffffff;
//   background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
//   background-color: #ededed;
//   border-radius: 6px;
//   border: 1px solid #dcdcdc;
//   display: inline-block;
//   cursor: pointer;
//   color: #777777;
//   font-family: Arial;
//   font-size: 15px;
//   font-weight: bold;
//   padding: 6px 24px;
//   text-decoration: none;
//   text-shadow: 0px 1px 0px #ffffff;
// }
// .button:hover {
//   background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
//   background-color: #dfdfdf;
// }
// .button:active {
//   position: relative;
//   top: 1px;
// }
